<h1 id="theater-large">SoCal Theater</h1>
<div id="theater-img">
	<img src="/images/theater.jpg" class="img-responsive" id="theater"></img>
</div>

<div class="theater-info">
<h1 id="theater-small">SoCal Theater</h1>	
<h3> Address:</h3>
<h4> 1234 Main Street<br>
	San Diego, California
</h4>

<h3>Phone Number:</h3>
<h4> (619) 729-6444</h4>

<h3>Amenities Available:</h3>
<li><h4> Wheelchair Access</h4></li>
<li><h4> Listening Devices</h4></li>
<li><h4> Stadium Seating</h4></li>
</div>


