<p>Welcome to SoCal Theater!!!</p><br>
 
<p>You have successfully signed up to socaltheater.heroku.com</p><br>
<p>Your username is: <%= @user.email %></p><br>
 
<p>Thanks for joining, and we hope you enjoy your next visit to SoCal Theater!</p><br>