/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* CSS Navagation Bar for Small Devices */
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav li a {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
  }
  .navbar-collapse, .collapse {
  	text-align: center;
  }
  .navbar {
  	position: static;
    background-color: white;
    border: white;
    padding-top: 1em;
    border-bottom: 1px solid black;
  }
  .navbar-toggle {
    background-color: rgba(128, 128, 128, 0.8);
  }
  .navbar-inverse .navbar-nav li a:hover {
    color: gray;   
  }

}
/* CSS Navagation Bar for Medium/Large Devices */
@media (min-width: 768px) {
  .navbar {
  	position: static;
    background-color: white;
    border: white;
    padding-top: 1em;
  }
  .navbar-inverse .navbar-nav li a {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
  }
  .navbar-inverse .navbar-nav li a:hover {
    color: gray;   
  }
  .container-fluid {
    padding: 0;   
  }
  .nav, .navbar-nav {
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: table;
    table-layout: fixed;      
  }
  li {
    display: table-cell;
    width: 20%;
    border-right: 1px solid gray;
    text-align: center;
  }
}