// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Movies Index Page CSS */

#movie-header {
	margin-left: 20px;
}
#header-border {
	padding-bottom: 3em;
}
.movie-index {
	display: inline-block;
}

.movie-index img {
	max-height: 250px;
	max-width: 200px;
	max-width: 100%;
	height: auto;
}

#movie-name {
	padding-top: .5em;
	font-size: 1.5em;
	max-width: 8.2em;
	width: auto;
	text-align: center;
}
.index-button {
	margin-left: 20px;
}

/* Movies Show Page CSS */
.movie-show {
	margin-top: 6em;
}
.movie-show img {
	display: inline-block;
	max-height: 500px;
	max-width: 400px;

}

#show-description {
	font-size: 1.3em;
	max-width: 540px;
	min-width: 250px;
	width: auto;
}
.movie-show td {
	padding: .4em;
	font-size: 1.3em;
}

button a:hover {
    text-decoration: none;
    background-color: white;
  }
#show-rating {
	margin-top: 1em;
}
hr {
	border: none;
}
#posted-comments {
	padding-top: 1.5em;
}

#show-comments {
	margin-top: 5em;
}

.show-button {
	display: inline-block;
}



@media (min-width: 1px) {
  .movie-show h2 {
    font-size: 1.5em;
  }
  #show-img {
    display: none;
  }
  .movie-show table {
	display: none;
  }
  #comment_body {
	width: 19em;
	height: 8em;
  }
}

@media (min-width: 540px) {
  select {
    display: none;
  }
  .movie-show table {
  	display: inline-block;
	border: 2px solid gray;
	font-size: 12px;
  }
  #comment_body {
	width: 24em;
	height: 8em;
  }
}


@media (min-width: 992px) {
  #show-img {
    display: inline-block;

  }
  #show-info {
	display: inline-block;
	max-width: 540px;
	min-width: 250px;
	width: auto;
	vertical-align: top;
	margin-left: 4em;
	position: absolute;
	margin-right: 4em;
  }
}