// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movie-header {
	margin-left: 1em;
}
#header-border {
	border-top: 1px solid gray;
	padding-bottom: 4em;
}
.movie-index {
	display: inline-block;
}

.index-container {
	margin-left: 1.8em;
}
.movie-index img {
	max-height: 250px;
	max-width: 200px;
	max-width: 100%;
	height: auto;
}

#movie-name {
	padding-top: .5em;
	font-size: 1.5em;
	max-width: 8.2em;
	width: auto;
	text-align: center;
}
